- unless (profile.id == current_user.id)
    - if request.nil?
    - elsif (request.is_approver?) && !(request.is_friends?)
        %div.d-flex.my-3
            = button_to('Accept', accept_path(profile.id), class: 'btn btn-sm btn-primary my-2', style: "margin-right: 10px")
            = button_to("Decline", decline_path(profile.id), class: 'btn btn-sm btn-outline-primary my-2')
    - elsif request.is_friends?
        %div.my-3.text-success.fw-bold
            %i.fa-solid.fa-check
            %span Friends
    - else
        %button.btn.btn-sm.disabled.btn-success.my-2 Request sent