.container-fluid
    .txt1 ACCOUNT SUSPENDED
    .txt2 This account has been suspended.
    .logo
    #orbit-system 
        .system 
            .satellite-orbit 
                .satellite SUSPENDED 
            .planet 
                = image_tag 'http://orig02.deviantart.net/69ab/f/2013/106/0/4/sad_man_by_agiq-d61wk0d.png', alt: 'planet', height: '200px'
    %div.button
        = button_to('Sign Out', destroy_user_session_path, class: 'btn border-0 text-light w-100', method: :delete)