%div.container
    %h1 Dashboard
    = button_to('signout', destroy_user_session_path, method: :delete, class: "btn btn-primary")
    = link_to('profile', view_profile_path(current_user))
    = link_to('Search User', friends_path)

-# :javascript
-#     document.querySelector('#user_id').addEventListener("keyup", (e)=>{
-#         if (Number.isInteger(parseInt(e.key))){
-#             console.log(@users)
-#         }
-#     })