/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}
 
body::-webkit-scrollbar
{
    width: 5px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
}

.shadow-top {
	-webkit-box-shadow: 0 -1rem 1rem rgba(0,0,0,.15);
	-moz-box-shadow: 0 -1rem 1rem rgba(0,0,0,.15);
	box-shadow: 0 -1rem 1rem rgba(0,0,0,.15);
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}

.card.pref{
    position: relative;
    cursor: pointer;
}

.card.pref > input{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 3px;
    left: 3px;
}

.custom-control-input{
    opacity: 0;
}

.custom-control-input.cbox-checked{
    transition: .3s ease;
    opacity: 1;
}

.custom-control-input.cbox-unchecked{
    opacity: 0;
    transition: .3s ease;
}

.list-group > .list-group-item.list-group-item-success, .list-group > .list-group-item-warning{
    cursor: pointer;
}

.mask > input[type='checkbox']{
    opacity: 0;
}

.message-box {
width: fit-content;
max-width: 40%;
padding: 5px;
border-radius: 10px;
margin-bottom: 10px;
background-color: #555555 ;
padding: 10px
}

@import 'bootstrap';
@import "font-awesome";

