/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}
 
body::-webkit-scrollbar
{
    width: 5px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
}

// 404 START
.page_404 { 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
}

.page_404  img { 
    width:100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
// 404 END

// BANNED START
.txt1 {color: #0070BB;
	font-size: 40px;
  font-weight: 800;
	text-align: center;
	margin-top: 20px; }

.txt2 {color: #c8c6ce;
	font-size: 18px;
	text-align: center;
	margin-top: 20px; }

.txt3 {color: #c8c6ce;
	font-size: 18px;
	text-align: center;
	margin-top: 20px; }

.logo {
text-align: center;
  margin-top: 10px; }

.button {
    border: 2px solid none;
    padding: 10px 40px; 
    background: #0070BB;
   color: white;
	text-align: center;
	width: 300px;
    border-radius: 25px;
	margin: 20px auto;
	transition: all 0.3s ease 0s;
	-webkit-box-shadow: 0px 11px 20px -8px rgba(0,112,187,1);
	-moz-box-shadow: 0px 11px 20px -8px rgba(0,112,187,1);
	box-shadow: 0px 11px 20px -8px rgba(0,112,187,1);}

.button:hover {
    border: 2px solid none;
    padding: 10px 40px; 
    background: #0070BB;
  color: white;
	text-align: center;
	width: 300px;
    border-radius: 25px;
    margin: 5px auto;
	transition: all 0.3s ease 0s;
	-webkit-box-shadow: 0px 19px 34px -8px rgba(0,112,187,1);
	-moz-box-shadow: 0px 19px 34px -8px rgba(0,112,187,1);
	box-shadow: 0px 19px 34px -8px rgba(0,112,187,1);}


#orbit-system {
  position: relative;
  width: 18em;
  height: 18em;
  margin: 0px auto;
}

.system {
  position: relative;
  width: 100%;
  height: 100%;
  
  -webkit-transform: rotateX(75deg) rotateY(-30deg);
  transform: rotateX(75deg) rotateY(-30deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.planet, .satellite-orbit, .satellite {
  position: absolute;
  top: 50%;
  left: 50%;
  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.planet {
  width: 9em;
  height: 9em;
  margin-top: -20em;
  margin-left: -4.5em;
  
  border-radius: 50%;
  background-color: none;
  color: white;
  
  text-align: center;
  line-height: 9em;
  
  -webkit-transform: rotateY(30deg) rotateX(-75deg);
  transform: rotateY(30deg) rotateX(-75deg);
}

.satellite-orbit {
	width: 16em;
  height: 16em;
  margin-top: -8em;
  margin-left: -8em;
  
  /*border: 1px solid black;*/
  border-radius: 50%;
  
  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.satellite {
    top: 100%;
    width: 7em;
    height: 7em;
    margin-top: -1.5em;
    margin-left: -1.5em;
    color: #fefefe;
    background-color: #0070BB;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    line-height: 7em;
    -webkit-animation-name: invert-orbit;
    animation-name: invert-orbit;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/*
In order to invert the rotation, do the rotate* transforms in reverse order.

Here, we rotated the system with rotateX(75deg) rotateY(-30deg), and then we are animating the rotation of the orbit with rotateZ(0-360deg). To reverse that, we need to reverse the last transform applied (rotateZ), then rotateY, then rotateX.

The rotateX/Y reversal is easy since it's not animated, so just use its opposite (30deg, -75deg). The rotateZ is trickier since it's animating, but since it's rotating from 0 to 360, we just need to animate the satellite from 360 to 0.
*/
@-webkit-keyframes invert-orbit {
    0% {
        transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
    }

    100% {
        transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
    }
}
@keyframes invert-orbit {
    0% {
        transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
    }

    100% {
        transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
    }
}
// BANNED END

.shadow-top {
	-webkit-box-shadow: 0 -1rem 1rem rgba(0,0,0,.15);
	-moz-box-shadow: 0 -1rem 1rem rgba(0,0,0,.15);
	box-shadow: 0 -1rem 1rem rgba(0,0,0,.15);
}

// PROFILE
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}
// PROFILE END

.card.pref{
    position: relative;
    cursor: pointer;
}

.card.pref > input{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 3px;
    left: 3px;
}

.custom-control-input{
    opacity: 0;
}

.custom-control-input.cbox-checked{
    transition: .3s ease;
    opacity: 1;
}

.custom-control-input.cbox-unchecked{
    opacity: 0;
    transition: .3s ease;
}

.list-group > .list-group-item.list-group-item-success, .list-group > .list-group-item-warning{
    cursor: pointer;
}

.mask > input[type='checkbox']{
    opacity: 0;
}

.message-box {
    width: fit-content;
    max-width: 45%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #555555 ;
    padding: 10px
}

// remove scroll bar on center columns
.center-column::-webkit-scrollbar {
    display: none;
}

// chat
.chat_pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.time {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: .65rem
}

.name {
    margin-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.msg-content {
    width: 80%;
    margin-right: 5px;
}

// .message-box {
//     word-wrap: break-word;
//     width: fit-content;
//     max-width: 40%;
//     padding: 5px;
//     border-radius: 10px;
//     margin-bottom: 10px;
//     background-color: #555555;
// }

// dog community page

.breed-image {
    height: 500px;
    object-fit: cover;
    object-position: 50% 20%
}

@import 'bootstrap';
@import "font-awesome";

